
dashboard-container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #010103;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

body {
    background-color: #708090;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.left-block,
.middle-block,
.right-block {
    flex: 1;
    padding: 15px;
    color: #ffffff;
}

.middle-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-figure {
    width: 100%;
    max-width: 790px;
    height: auto;
}

.upload-area {
    width: 100%;
    min-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #444;
    color: white;
}

h1 {
    font-size: 32px;
    margin: 15px 0;
}

p {
    font-size: 16px;
    margin: 10px 0;
    text-align: justify;
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
        padding: 10px;
    }

    .left-block,
    .middle-block,
    .right-block {
        width: 100%;
        margin: 10px 0;
    }

    .graph-figure {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}
.key-capture {
    opacity: 0;
    position: absolute;
}
